version: '3'

services:
  rabbitmq:
    image: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
      
  dbQA:
    image: postgres
    ports:
      - "5432"
    volumes:
      - dbqa-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: QueryPostgres
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      restart: unless-stopped
      
  QA:
    build: ./QA
    image: appbootrestqa
    container_name: QA
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
    ports:
      - "8082:8080"
    depends_on:
      - dbQA
      - rabbitmq
      
  pgadminQA:
    image: dpage/pgadmin4
    environment:
       PGADMIN_DEFAULT_EMAIL: mattia98779@gmail.com
       PGADMIN_DEFAULT_PASSWORD: admin
       PGADMIN_LISTEN_PORT: 52
    ports:
       - "5052:52"
    volumes:
       - pgadminqa-data:/var/lib/pgadmin
    links:
      - "dbQA:pgsql-server"
      
  dbAppunti:
    image: postgres
    ports:
      - "5432"
    volumes:
      - dbappunti-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: appunti
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      restart: unless-stopped
      
  appunti:
    build: ./appunti
    image: appbootrestap
    container_name: appunti
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
    ports:
      - "8081:8080"
    depends_on:
      - dbAppunti
      - rabbitmq
      
  pgadminAppunti:
    image: dpage/pgadmin4
    environment:
       PGADMIN_DEFAULT_EMAIL: mattia98779@gmail.com
       PGADMIN_DEFAULT_PASSWORD: admin
       PGADMIN_LISTEN_PORT: 51
    ports:
       - "5051:51"
    volumes:
       - pgadminappunti-data:/var/lib/pgadmin
    links:
      - "dbAppunti:pgsql-server"
      
  dbutenti:
    image: postgres
    ports:
      - "5432"
    volumes:
      - dbut-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: Utenti
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      restart: unless-stopped
      
  Utenti:
    build: ./utenti
    image: appbootrestutenti
    container_name: appUtenti
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
    ports:
      - "8083:8080"
    depends_on:
      - dbutenti
      - rabbitmq
      
  Report:
    build: ./Report
    image: appbootrestreport
    container_name: Report
    ports:
      - "8084:8080"
    depends_on:
      - dbutenti
      
  pgadminUtenti:
    image: dpage/pgadmin4
    environment:
       PGADMIN_DEFAULT_EMAIL: mattia98779@gmail.com
       PGADMIN_DEFAULT_PASSWORD: admin
       PGADMIN_LISTEN_PORT: 50
    ports:
       - "5053:50"
    volumes:
       - pgadminut-data:/var/lib/pgadmin
    links:
      - "dbutenti:pgsql-server"

volumes:
  dbappunti-data:
  dbqa-data:
  dbut-data:
  pgadminut-data:
  pgadminappunti-data:
  pgadminqa-data:
